/* Reseteo de la página */
*{
    margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: solid 1px red;
}

:root {
    --header-bgcolormain: #0874A3;
    --header-bgcolorsecond: #02D3BD;
    --header-colormain: #fff;
    --header-colorsecond: #000;
    --main-bgcolormain: #E4F2FA;
    
  }

body{
    font-family: sans-serif;
    max-width: 100vw;
}

header{
    background-color: var(--header-bgcolormain);
}

.header{
    height: 3.75em; /* corresponde a 60px */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1.25em;
    width: 80%;
    margin: auto;
}

.header_left, .header_right{
    display: flex;
    align-items: center;
    gap: 1em;
}

.team_name{
    color: var(--header-colormain);
    font-size: 2em; /* en Figma viene 24 px, pero creo que es pequeño. 1em son 16px, así que aquí tenemos 32px*/
}

.header_right_who, .header_right_what{
    color: var(--header-colorsecond);
    padding: 1em;
}
.header_right_who:hover, .header_right_what:hover{
    background-color: var(--header-bgcolorsecond);
    color: var(--header-colormain);
    padding: 1em;
}

main{
    background-color: var(--main-bgcolormain);
    min-height: 100vh; 
    padding-top: 1.25em;   
   
}

.main{
    width: 80%;
    margin: auto;
}

.main_title h1{
    margin-bottom: 0.625em;
}

.profile_section{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    justify-items: center;    
    margin-top: 1.25em;  
}

.card_profile{    
    display: flex;
    flex-direction: column;    
    gap: 0.625em;
    margin: 0.625em;    
    padding: 1.25em;
}

.photo_profile{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 10px 4px 16px 0px rgba(0, 0, 0, 0.25);    
}
